@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-green-50: hsl(125, 86%, 14%);
  --color-green-100: hsl(125, 73%, 20%);
  --color-green-200: hsl(125, 56%, 29%);
  --color-green-300: hsl(122, 47%, 35%);
  --color-green-400: hsl(122, 39%, 41%);
  --color-green-500: hsl(123, 35%, 51%);
  --color-green-600: hsl(123, 38%, 63%);
  --color-green-700: hsl(122, 42%, 75%);
  --color-green-800: hsl(126, 49%, 84%);
  --color-green-900: hsl(125, 65%, 93%);

  --color-gray-50: hsl(0, 0%, 13%);
  --color-gray-100: hsl(0, 0%, 23%);
  --color-gray-200: hsl(0, 0%, 32%);
  --color-gray-300: hsl(0, 0%, 38%);
  --color-gray-400: hsl(0, 0%, 49%);
  --color-gray-500: hsl(0, 0%, 62%);
  --color-gray-600: hsl(0, 0%, 69%);
  --color-gray-700: hsl(0, 0%, 81%);
  --color-gray-800: hsl(0, 0%, 88%);
  --color-gray-900: hsl(0, 0%, 97%);

  --color-purple-50: hsl(263, 85%, 18%);
  --color-purple-100: hsl(262, 72%, 25%);
  --color-purple-200: hsl(262, 69%, 31%);
  --color-purple-300: hsl(262, 60%, 38%);
  --color-purple-400: hsl(262, 48%, 46%);
  --color-purple-500: hsl(262, 43%, 51%);
  --color-purple-600: hsl(261, 47%, 58%);
  --color-purple-700: hsl(261, 54%, 68%);
  --color-purple-800: hsl(261, 68%, 84%);
  --color-purple-900: hsl(262, 61%, 93%);

  --color-red-50: hsl(360, 92%, 20%);
  --color-red-100: hsl(360, 85%, 25%);
  --color-red-200: hsl(360, 79%, 32%);
  --color-red-300: hsl(360, 72%, 38%);
  --color-red-400: hsl(360, 67%, 44%);
  --color-red-500: hsl(360, 64%, 55%);
  --color-red-600: hsl(360, 71%, 66%);
  --color-red-700: hsl(360, 77%, 78%);
  --color-red-800: hsl(360, 82%, 89%);
  --color-red-900: hsl(360, 100%, 97%);

  --color-yellow-50: hsl(43, 86%, 17%);
  --color-yellow-100: hsl(43, 77%, 27%);
  --color-yellow-200: hsl(43, 72%, 37%);
  --color-yellow-300: hsl(42, 63%, 48%);
  --color-yellow-400: hsl(42, 78%, 60%);
  --color-yellow-500: hsl(43, 89%, 70%);
  --color-yellow-600: hsl(43, 90%, 76%);
  --color-yellow-700: hsl(45, 86%, 81%);
  --color-yellow-800: hsl(45, 90%, 88%);
  --color-yellow-900: hsl(45, 100%, 96%);

  --color-primary-200: var(--color-green-200);
  --color-primary-400: var(--color-green-400);
  --color-primary-700: var(--color-green-700);
  --color-primary-800: var(--color-green-800);
  --color-primary-900: var(--color-green-900);
  --color-primary: var(--color-primary-400);
  --color-primary-dark: var(--color-green-600);

  --color-on-primary: var(--color-green-50);
  --color-on-primary-dark: var(--color-green-700);
  --color-body: var(--color-gray-100);
  --color-body-dark: var(--color-gray-900);

  --color-subtle: var(--color-gray-400);
  --color-subtle-dark: var(--color-gray-600);

  --color-body-secondary: var(--color-gray-100);
  --color-body-secondary-dark: var(--color-gray-200);

  --color-supporting: var(--color-purple-300);

  --color-background: var(--color-gray-900);
  --color-background-secondary: var(--color-white);
  --color-background-dark: var(--color-gray-100);
  --color-background-secondary-dark: var(--color-gray-900)
}

@layer base {
  html {
    @apply font-sans;
  }

  body {
    @apply text-pretty;
  }

  .optimal-reading-width {
    max-width: 28em;
  }
}
