---
import Layout from "../layouts/Layout.astro";
import { byPrefixAndName } from "@awesome.me/kit-217da5ee1c/icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
---

<Layout
  title="Datenschutzerklärung - bawü.eu"
  description="bawü.eu - Website of the Länd"
  appName="bawü.eu"
  logoTitle="The Länd"
  activeItem="Datenschutzerklärung"
>
  <div class="bg-background-secondary px-6 py-16 lg:px-8">
    <div class="mx-auto max-w-3xl text-base/7 text-body-secondary">
      <h1
        class="text-4xl font-semibold tracking-tight text-pretty sm:text-5xl"
      >
        Datenschutzerklärung
      </h1>

      <h2
        class="mt-6 text-3xl font-semibold tracking-tight text-pretty"
      >
        1. Datenschutz auf einen Blick
      </h2>
      <h3
        class="mt-2 text-2xl font-semibold tracking-tight text-pretty"
      >
        Allgemeine Hinweise
      </h3>
      <p class="mt-2">
        Die folgenden Hinweise geben einen einfachen Überblick über das, was mit
        Ihren personenbezogenen Daten passiert, wenn Sie unsere Website
        besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie
        persönlich identifiziert werden können. Ausführliche Informationen zum
        Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten
        Datenschutzerklärung.
      </p>
      <h3
        class="mt-2 text-2xl font-semibold tracking-tight text-pretty"
      >
        Datenerfassung auf unserer Website
      </h3>
      <h4
        class="mt-4 text-xl font-semibold tracking-tight text-pretty"
      >
        Wer ist verantwortlich für die Datenerfassung auf dieser Website?
      </h4>
      <p class="mt-2">
        Die Datenverarbeitung auf dieser Website erfolgt durch den
        Websitebetreiber. Dessen Kontaktdaten können Sie dem Impressum dieser
        Website entnehmen.
      </p>
      <h4
        class="mt-4 text-xl font-semibold tracking-tight text-pretty"
      >
        Wie erfassen wir Ihre Daten?
      </h4>
      <p class="mt-2">
        Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese
        mitteilen. Hierbei kann es sich z.B. um Daten handeln, die Sie in ein
        Kontaktformular eingeben.
      </p>
      <p>
        Andere Daten werden automatisch beim Besuch der Website durch unsere
        IT-Systeme erfasst. Das sind vor allem technische Daten (z.B.
        Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die
        Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website
        betreten.
      </p>
      <h4
        class="mt-4 text-xl font-semibold tracking-tight text-pretty"
      >
        Wofür nutzen wir Ihre Daten?
      </h4>
      <p class="mt-2">
        Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der
        Website zu gewährleisten. Andere Daten können zur Analyse Ihres
        Nutzerverhaltens verwendet werden.
      </p>
      <h4
        class="mt-4 text-xl font-semibold tracking-tight text-pretty"
      >
        Welche Rechte haben Sie bezüglich Ihrer Daten?
      </h4>
      <p class="mt-2">
        Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft,
        Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu
        erhalten. Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder
        Löschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum
        Thema Datenschutz können Sie sich jederzeit unter der im Impressum
        angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein
        Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
      </p>

      <h2
        class="mt-6 text-3xl font-semibold tracking-tight text-pretty"
      >
        2. Allgemeine Hinweise und Pflichtinformationen
      </h2>
      <h3
        class="mt-4 text-2xl font-semibold tracking-tight text-pretty"
      >
        Datenschutz
      </h3>
      <p class="mt-2">
        Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten
        sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
        entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
        Datenschutzerklärung.
      </p>
      <p class="mt-2">
        Wenn Sie diese Website benutzen, werden verschiedene personenbezogene
        Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie
        persönlich identifiziert werden können. Die vorliegende
        Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir
        sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.
      </p>
      <p class="mt-2">
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei
        der Kommunikation per E-Mail) Sicherheitslücke aufweisen kann. Ein
        lückloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
        possível.
      </p>
      <h3
        class="mt-4 text-2xl font-semibold tracking-tight text-pretty"
      >
        Hinweis zur verantwortlichen Stelle
      </h3>
      <p class="mt-2">
        Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website
        ist:
      </p>
      <p class="mt-2">
        Jim Martens<br />
        Flaßheide 45<br />
        22525 Hamburg
      </p>

      <p>
        Telefon: 04021082122<br />
        E-Mail: admin@2martens.de
      </p>
      <p class="mt-2">
        Verantwortliche Stelle ist die natürliche oder juristische Person, die
        allein oder gemeinsam mit anderen über die Zwecke und Mittel der
        Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o.
        Ä.) entscheidet.
      </p>
      <h3
        class="mt-4 text-2xl font-semibold tracking-tight text-pretty"
      >
        SSL- bzw. TLS-Verschlüsselung
      </h3>
      <p>
        Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung
        vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die
        Sie an uns als Seitenbetreiber senden, eine SSL-bzw.
        TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran,
        dass die Adresszeile des Browsers von “http://” auf “https://” wechselt
        und an dem Schloss-Symbol in Ihrer Browserzeile.
      </p>
      <p>
        Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten,
        die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
      </p>
      <h3
        class="mt-4 text-2xl font-semibold tracking-tight text-pretty"
      >
        Widerspruch gegen Werbe-Mails
      </h3>
      <p>
        Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
        Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter
        Werbung und Informationsmaterialien wird hiermit widersprochen. Die
        Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im
        Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
        Spam-E-Mails, vor.
      </p>

      <h2
        class="mt-6 text-3xl font-semibold tracking-tight text-pretty"
      >
        3. Datenerfassung auf unserer Website
      </h2>
      <h3
        class="mt-4 text-2xl font-semibold tracking-tight text-pretty"
      >
        Server-Log-Dateien
      </h3>
      <p class="mt-2">
        Der Provider der Seiten erhebt und speichert automatisch Informationen
        in so genannten Server-Log-Dateien, die Ihr Browser automatisch an uns
        übermittelt. Dies sind:
      </p>
      <ul role="list" class="mt-8 max-w-xl space-y-4">
        <li class="flex gap-x-3">
          <FontAwesomeIcon
            icon={byPrefixAndName.fas["circle-check"]}
            aria-hidden="true"
            className="mt-1 size-5 flex-none text-primary"
          />
          <span>Browsertyp und Browserversion</span>
        </li>
        <li class="flex gap-x-3">
          <FontAwesomeIcon
            icon={byPrefixAndName.fas["circle-check"]}
            aria-hidden="true"
            className="mt-1 size-5 flex-none text-primary"
          />
          <span>verwendetes Betriebssystem</span>
        </li>
        <li class="flex gap-x-3">
          <FontAwesomeIcon
            icon={byPrefixAndName.fas["circle-check"]}
            aria-hidden="true"
            className="mt-1 size-5 flex-none text-primary"
          />
          <span>Referrer URL</span>
        </li>
        <li class="flex gap-x-3">
          <FontAwesomeIcon
            icon={byPrefixAndName.fas["circle-check"]}
            aria-hidden="true"
            className="mt-1 size-5 flex-none text-primary"
          />
          <span>Hostname des zugreifenden Rechners</span>
        </li>
        <li class="flex gap-x-3">
          <FontAwesomeIcon
            icon={byPrefixAndName.fas["circle-check"]}
            aria-hidden="true"
            className="mt-1 size-5 flex-none text-primary"
          />
          <span>Uhrzeit der Serveranfrage</span>
        </li>
        <li class="flex gap-x-3">
          <FontAwesomeIcon
            icon={byPrefixAndName.fas["circle-check"]}
            aria-hidden="true"
            className="mt-1 size-5 flex-none text-primary"
          />
          <span>IP-Adresse</span>
        </li>
      </ul>
      <p class="mt-6">
        Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht
        vorgenommen.
      </p>
      <p class="mt-2">
        Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der
        die Verarbeitung von Daten zur Erfüllung eines Vertrags oder
        vorvertraglicher Maßnahmen gestattet.
      </p>

      <h2
        class="mt-6 text-3xl font-semibold tracking-tight text-pretty"
      >
        4. Plugins und Tools
      </h2>
      <h3
        class="mt-2 text-2xl font-semibold tracking-tight text-pretty"
      >
        YouTube
      </h3>
      <p class="mt-2">
        Unsere Website nutzt Plugins der von Google betriebenen Seite YouTube.
        Betreiber der Seiten ist die YouTube, LLC, 901 Cherry Ave., San Bruno,
        CA 94066, USA.
      </p>
      <p class="mt-2">
        Wenn Sie eine unserer mit einem YouTube-Plugin ausgestatteten Seiten
        besuchen, wird eine Verbindung zu den Servern von YouTube hergestellt.
        Dabei wird dem YouTube-Server mitgeteilt, welche unserer Seiten Sie
        besucht haben.
      </p>
      <p class="mt-2">
        Wenn Sie in Ihrem YouTube-Account eingeloggt sind, ermöglichen Sie
        YouTube, Ihr Surfverhalten direkt Ihrem persönlichen Profil zuzuordnen.
        Dies können Sie verhindern, indem Sie sich aus Ihrem YouTube-Account
        ausloggen.
      </p>
      <p class="mt-2">
        Die Nutzung von YouTube erfolgt im Interesse einer ansprechenden
        Darstellung unserer Online-Angebote. Dies stellt ein berechtigtes
        Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.
      </p>
      <p class="mt-2">
        Weitere Informationen zum Umgang mit Nutzerdaten finden Sie in der
        Datenschutzerklärung von YouTube unter:
        <a href="https://www.google.de/intl/de/policies/privacy" target="_blank"
          >https://www.google.de/intl/de/policies/privacy</a
        >.
      </p>
    </div>
  </div>
</Layout>
